# JavaScript Snippets:

snippet function
	function${1}(${2}) {
	  ${3}
	}
snippet function;
	function${1}(${2}) {
	  ${3}
	};
snippet function,
	function${1}(${2}) {
	  ${3}
	},
snippet typeof
	typeof ${1:object} === '${2:type}'
snippet makearray
	Array.prototype.slice.call(${1:arguments}, 0);
snippet strict
	"use strict";
snippet iife
	(function(${1}) {
	  "use strict";
	  ${3}
	})(${2});
snippet while
	while (${1}) {
	  ${2}
	}
