snippet b
	{
	  ${1}
	}
snippet b,
	{
	  ${1}
	},
snippet b;
	{
	  ${1}
	};
snippet a
	[
	  ${1}
	]
snippet a,
	[
	  ${1}
	],
snippet a;
	[
	  ${1}
	];
snippet p
	(
	  ${1}
	)
snippet p,
	(
	  ${1}
	),
snippet p;
	(
	  ${1}
	);
